<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279045006045-lpqi7dvnr3hnvt94nhm354r4cb216qsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279045006045-lpqi7dvnr3hnvt94nhm354r4cb216qsu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>279045006045-ai82ot40n5ha0squ4ukn3cqnkm9uv5h4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHN7MJPRCOi6Q0uGWrd1T-MGiWh-1R_A8</string>
	<key>GCM_SENDER_ID</key>
	<string>279045006045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kudu.development</string>
	<key>PROJECT_ID</key>
	<string>kudu-app-350606</string>
	<key>STORAGE_BUCKET</key>
	<string>kudu-app-350606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279045006045:ios:8688e3aad0a913ea457134</string>
</dict>
</plist>