//
//  Development.xcconfig
//  VIDA
//
//  Created by Ronit Tushir on 03/01/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
slash = /
kBaseUrl = http:/$(slash)k8s-kududev-ingressd-69366d6a03-598209010.us-east-1.elb.amazonaws.com
FacebookAppID = 715156706269661
FacebookClientToken = 31ddf3b230c27b3cc9116e50c8f75907
FacebookDisplayName = Kudu-Development

//http://k8s-kududev-ingressd-69366d6a03-598209010.us-east-1.elb.amazonaws.com/
