//
//  QA.xcconfig
//  VIDA
//
//  Created by Ronit Tushir on 03/01/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
slash = /
kBaseUrl = https:/$(slash)api-qa.kudu.com.sa
FacebookAppID = 715156706269661
FacebookClientToken = 31ddf3b230c27b3cc9116e50c8f75907
FacebookDisplayName = Kudu-Development
